li {
    padding-bottom: 0;
    margin-bottom: 0;
}

.topbar {
    padding: 15px 50px;
    background: #1A2B48;

    a {
        font-weight: 400;
        font-size: 13px;
        font-family: 'Poppins', sans-serif !important\;
    }

    width: 100%;
}

.topleft {
    a {
        padding: 0 15px;
        color: white;
        line-height: 15px;


    }
}

.topright {
    a {
        padding: 0 15px;
        border-right: 1px solid #ccc;
        color: white;

        span {
            line-height: 15px;
        }
    }

    .twoul {
        a {
            border-left: 1px solid #ccc;
        }
    }
}


.head {
    background-image: url(../photo/gallary_4-1.jpg);
    background-position: center center;
    background-size: cover;

}

.menu {
    font-family: "Poppins", sans-serif !important;
    

    .nav-bar {
        a {
            font-weight: 700;
        }
    }

    .middle-menu {
        position: relative;

        i {
            font-size: 13.6px;
        }
    }

    ul {
        li {
            padding: 20px 10px;

            a {
                color: white;

                i {
                    font-size: .6em;
                }

                &.btnMy {
                    background: var(--orange-color, #FA5636);
                    border-radius: 3px;
                    padding: 10px 25px;
                    color: #fff;
                    font-size: 14px;
                    font-weight: 450;

                    &:hover {
                        background-color: #D3482E;
                    }
                }
            }

            &.bigMenu {
                position: static !important;

                .LiDropdown {
                    width: 100% !important;
                }

                &:hover {
                    .LiDropdown {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(0);


                    }
                }
            }

            &.LiDropped,
            &.bigMenu {
                position: relative;

                &:hover {
                    .LiDropdown {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(0);
                    }
                }

                .LiDropdown {
                    position: absolute;
                    left: 0;
                    top: 100%;
                    width: 200px;
                    opacity: 0;
                    visibility: hidden;
                    transform: translateY(5px);
                    transition: .3s ease-in-out;
                    background: white;

                    a {
                        transition: .3s ease;
                        padding: 5px;
                        font-size: 15px;
                        color: #3c3d3f;
                        font-weight: 700;
                        border-bottom: gray;
                        font-family: 'Poppins', sans-serif !important;

                        &:hover {
                            color: #5191FA;
                            text-decoration: none !important;

                        }
                    }

                    li {
                        padding: 10px;
                        border-bottom: 1px solid #EEEE;
                    }
                }
            }
        }
    }
}

.headmiddle {
    font-family: 'Libre Baskerville', serif !important;

    .midleft {
        margin: 50px 0;

        h1 {
            margin-bottom: 0;
            font-weight: 500;
            font-size: 54px;
            color: #FFF;
            font-family: 'Libre Baskerville', serif !important;
        }
    }
}

.homecontact {
    ul {
        li {
            padding-left: 20px;
            font-size: 15px;
            font-family: "Poppins", sans-serif !important;
            font-weight: normal;
            line-height: 1.5;

            a {
                display: block;
                font-weight: 500;
                color: var(--main-color, #1A2B48);
                text-decoration: none;
                line-height: 21px;
            }

            &:hover a {
                text-decoration: none !important;

            }
        }
    }
}

.traveler {
    .contact-header {
        h3 {
            font-size: 24px;
            color: var(--main-color, #1A2B48);
            margin-top: 0px;
            margin-bottom: 10px;
            font-family: inherit;
            font-weight: 500;
            line-height: 1.1;
        }

        p {
            font-size: 14px;
            color: var(--grey-color, #5E6D77);
            margin-bottom: 0px;
            font-family: "Poppins", sans-serif !important;
            font-weight: normal;
            line-height: 1.5;
        }
    }

    .inputs {
        input {
            border: 1px solid #DAE1E7;
            border-radius: 3px;
            color: var(--grey-color, #5E6D77);
            height: 40px;
            margin: 15px 0;
        }
    }

}

.bluebtn {
    background: var(--link-color, #5191FA);
    border-radius: 3px;
    border: none;
    color: #fff;
    margin-top: 20px;
    padding-left: 35px;
    padding-right: 35px;
}

.info {
    position: relative;
    margin-left: 20px;

    .info-img {
        color: var(--main-color, #1A2B48);
        font-size: 13px;
        font-family: "Poppins", sans-serif !important;
        font-weight: normal;
        line-height: 1.5;
    }

    .info-content {
        h3 {
            font-size: 24px;
            color: #FFFFFF;
            font-family: inherit;
            font-weight: 500;
            line-height: 1.1;
            margin-bottom: 180px;
        }

        position: absolute;
        top: 50%;
        margin-top: -185px;
        margin-left: -29px;
        background: var(--orange-color, #FA5636);
        padding: 30px;
        min-width: 380px;
        min-height: 370px;


        .sub {
            color: var(--main-color, #1A2B48);
            font-size: 15px;
            font-family: "Poppins", sans-serif !important;
            font-weight: normal;
            line-height: 1.5;
            p{
                font-family: inherit;
                font-weight: 500;
                line-height: 1.1;
                color: white;
            }
        }
    }
}
.map{
    margin: 50px 0;
}
.updates{
    background: #F5F5F5;
    margin: 50px 0;
    padding: 50px 20px;
    .right{
      .media-left{

      } 
      .media-body{
h4{
    font-size: 24px !important;
    margin-top: 0;
    margin-bottom: 5px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
p {
    font-size: 16px !important;
    color: var(--grey-color, #5E6D77) !important;
   
    font-family: "Poppins", sans-serif !important;
    font-weight: normal;
    line-height: 1.5;
    font-weight: 700;
}
      } 
    }
    .input-group{
        first{
            height: 55px;
    line-height: 53px;
    font-size: 14px;
    box-shadow: none;
    border-color: #D7DCE3;
        }
    }
}
.footer {
    margin-bottom: 30px;

    p {
        span {
            color: #5e6d77;
            margin-bottom: 5px;
            font-size: 13px;
            font-family: "Poppins", sans-serif !important;
            font-weight: normal;
            line-height: 1.5;
            font-weight: 700;
        }
    }

    .e-mail {
        i {
            color: #A0A9B2;
            padding-right: 10px;
        }

        h4 {
            font-size: 22px;
            font-family: inherit;
            font-weight: 500;
            line-height: 1.1;
            color: inherit;
        }
    }

    a {
        font-family: "Poppins", sans-serif !important;
        margin-bottom: 25px;
        font-size: 14px;
        font-weight: 700;
        display: block;
        color: var(--main-color, #1A2B48);

        &:hover {
            color: #1A2B48 !important;
        }
    }

    .accordion {

        ul {
            li {
                border: 3px solid #cccc;
                font-size: 13px !important;
                font-family: "Poppins", sans-serif !important;
            }

        }
    }
}

.number {
    h4 {
        font-size: 22px;
    }
}

h4 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    font-size: 14px;
}

.foot-write {
    padding: 20px 0;

    p {
        padding-right: 3px;
        font-size: 14px !important;
        color: var(--main-color, #1A2B48);
        font-weight: normal;
        // line-height: 1.5;

    }
}
